:root{
    --black: #000000;
    --black1: #303030;
    --white: #ffffff;
    --gray: #6b6b6b;
    --lightGrey: #cdcdcd;
    --red: #ea0000;
    --lightRed: #ffc2c2;

    --fuentePrincipal: 'Quicksand', sans-serif;
}

html{
    font-size: 65.5%;
    box-sizing: border-box;
}

*, *:after, *:before{
    box-sizing: inherit;
}

body{
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
}

a{
    text-decoration: none;
}

h1{
   font-size: 4rem; 
}

h2{
    font-size: 3rem;
}

h3{
    font-size: 2.4rem;
}

h4{
    font-size: 1.8rem;
}

img{
    max-width: 100%;
}

ul{
    line-height: 1;
}

label{
    font-size: 1.3rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
    width: 95%;
}

/* Header */
.header{
    background-color: var(--black);
    padding: 1rem 0 1rem 0;
    padding-left: 3rem;
}

.barra{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width:768px){
    .barra{
        flex-direction: row;
        justify-content: space-between;
    }
}

@media (min-width:768px){
    .buscar-informacion{
        display: flex;
    }
}

.buscar-informacion button{
    background-color: var(--red);
    border: none;
    padding: 1rem 3rem;
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
}

.panel{
    color: var(--white);
    display: flex;
    align-items: center;
}

.texto{
    color: var(--white);
}

.input-search{
    width: 50rem;
    padding: 1rem;
    border: 1px solid var(--gray);
    font-size: 1.4rem;
}

.contactos{
    color: var(--white);
    text-transform: uppercase;
    padding-right: 3rem;
    font-size: 1.2rem;
}

.contactos:hover{
    color: var(--red);
}

@media (min-width:768px){
    .navegacion-responsive{
        display: none;
    }
}

.navegacion-responsive img{
    width: 3rem;
}

/* Navegacion principal */
.bg-lightgrey{
    background-color: var(--lightGrey);
}

.navegacion-principal{
    padding-left: 3rem;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transition: visibility .4s ease-in-out, opacity 0.4s linear;
}

@media (min-width:768px){
    .navegacion-principal{
        flex-direction: row;
        gap: 3rem;
        visibility: visible;
        opacity: 1;
    }
}

.navegacion-principal a{
    display: block;
    padding: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    color: var(--black);
    font-size: 1.4rem;
}

.mostrar{
    visibility: visible;
    opacity: 1;
}

.navegacion-principal a:hover{
    color: var(--red);
}

/* contenido principal */
.fondo-superior{
    background-image: url(../img/web-nuevo-banner-realme-buds.png);
    background-repeat: no-repeat;
    height: 690px;
}

@media (min-width:768px){
    .contenido-regalos{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

.regalo{
    padding-left: 2rem;
    margin-bottom: 2rem;
    padding-right: 2rem;
}

@media (min-width:768px){
    .contenedor-servicios{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}

.servicio{
    margin-bottom: 2rem;
}

@media (min-width:768px){
    .cosas-hogar{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 1rem;
    }
}

.hogar{
    margin-bottom: 2rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.titulo-producto{
    text-transform: uppercase;
    padding-left: 1rem;
    font-size: 3rem;
}

@media (min-width:768px){
    .contenedor-productos{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 4rem;
    }
}

.producto{
    margin-bottom: 2rem;
}

.imagen{
    display: flex;
    justify-content: center;
}

.producto__imagen{
    width: 20rem;
}

.producto__contenido{
    text-align: center;
}

.producto__texto{
    color: var(--black);
    text-transform: uppercase;
    margin: 2rem 0 0 0;
}

.producto__precio{
    color: var(--black);
    font-weight: 700;
    font-size: 2.4rem;
    margin: 4rem 0 0 0;
}

.fondo-inferior{
    background-image: url(../img/fondo-inferior.gif);
    background-repeat: no-repeat;
    background-position: center center;
    height: 690px;
}

/* Footer */
.footer{
    margin-top: 1rem;
}

.light-black{
    background-color: var(--black1);
    padding: 4rem 0 1rem 0;
}

.border{
    border-bottom: 1px solid var(--gray);
}

.enlaces-internos{
    padding-left: 3rem;
}

@media (min-width:768px){
    .enlaces-internos{
        display: grid;
        grid-template-columns: 50% 30%;
        grid-template-rows: "izquierda, contenido";
        column-gap: 20rem;
    }
}

@media (min-width:768px){
    .enlaces{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10rem;
    }
}

.bold{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.4rem;
    margin: 0 0 1rem 0;
}

.bloque{
    margin-bottom: 2rem;
}

.bloque a{
    color: var(--gray);
    font-size: 1.3rem;
    display: block;
    margin: 1rem 0;
}

.bloque p{
    color: var(--gray);
    font-size: 1.3rem;
    margin: 1rem 0;
}

.colecciones{
    line-height: 1.5;
}

.campo-search{
    background-color: var(--white);
    padding: 1.4rem;
    border: none;
    width: 30rem;
    font-size: 1.3rem;
}

.boton-suscribirse{
    background-color: var(--gray);
    border: none;
    padding: 1rem 2rem;
    color: var(--white);
    text-align: center;
    font-weight: 700;
}

.boton-suscribirse:hover{
    cursor: pointer;
}

.text-centrado p{
    text-align: center;
    color: var(--gray);
    font-size: 1.4rem;
    margin: 2rem 0;
}

@media (min-width:768px){
    .flex{
        display: flex;
    }
}

.columnas{
    padding-right: 2rem;
}

@media (min-width:768px){
    .columnas{
        display: grid;
        grid-template-columns: 20% 78%;
        grid-template-rows: "izquierda contenido";
        column-gap: 2rem;
    }
}

.suscribirse{
    color: var(--white);
}

/* Informacion adicional */
.superiores{
    margin-top: 2rem;
}

.fondo-aside{
    background-color: var(--white);
    padding-left: 3rem;
}

.border-precio{
    border-bottom: 1px solid var(--lightGrey);
}

.border-precio h4{
    margin-bottom: 1rem;
}

.border-talla{
    border-bottom: 1px solid var(--lightGrey);
}

.border-talla h4{
    margin-bottom: 1rem;
}

.contenedor-tallas{
    margin: 1rem 0 0 0;
}

@media (min-width:768px){
    .contenedor-tallas{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
    }
}

.border-color{
    border-bottom: 1px solid var(--lightGrey);
}

.border-color h4{
    margin-bottom: 1rem;
}

.precios{
    font-size: 1.2rem;
    margin: 2rem 0 0 0;
}

.titulo-talla,
.titulo-compra{
    margin: 4rem 0 0 0;
}

.talla{
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.talla p{
    margin: 1rem 0 0 0;
}

.inferior-color{
    margin: 2rem 0 0 0;
}

.color{
    text-transform: uppercase;
    font-size: 1.2rem;
    margin: 1rem 0;
}

/* Seccion de blusas de mujer */
.titulo-blusas{
    font-weight: 300;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
}

.productos{
    font-size: 1.3rem;
    margin: 3rem 0 0 0;
    color: var(--gray);
}

.contenedor-blusas{
    margin: 5rem 0 0 0;
}

@media (min-width:768px){
    .contenedor-blusas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.blusa{
    margin-bottom: 4rem;
}

.blusa__color{
    border-radius: 50%;
    width: 2rem;
    border: 1px solid var(--gray);
}

.blusa__color{
    display: flex;
    gap: 1rem;
}

.blusa__texto{
    color: var(--black);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.blusa__precio{
    color: var(--black);
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

.blusa-precios p{
    margin: 0;
}

/* Seccion de camisas de hombre */
.titulo-camisas{
    font-weight: 300;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
}

.contenedor-camisas{
    margin: 5rem 0 0 0;
}

@media (min-width:768px){
    .contenedor-camisas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.camisa{
    margin-bottom: 4rem;
}

.camisa__color{
    border-radius: 50%;
    width: 2rem;
    border: 1px solid var(--gray);
}

.camisa__texto{
    color: var(--black);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.camisa-precios p{
    margin: 0;
}

.camisa__precio{
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

/* Seccion de calzodo */
.titulo-calzado{
    font-weight: 300;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
}

.contenedor-calzados{
    margin: 5rem 0 0 0;
}

@media (min-width:768px){
    .contenedor-calzados{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.calzado{
    margin-bottom: 4rem;
}

.calzado__color{
    border-radius: 50%;
    width: 2rem;
    border: 1px solid var(--gray);
}

.calzado__texto{
    color: var(--black);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.calzado__colores{
    display: flex;
    gap: 1rem;
}

.calzado__precio{
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

.calzado-precios p{
    margin: 0;
}

/* Seccion de higiene */
.talla-higiene p{
    text-transform: uppercase;
    font-size: 1.2rem;
}

.titulo-facial{
    font-weight: 300;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
}

.contenedor-faciales{
    margin: 5rem 0 0 0;
}

@media (min-width:768px){
    .contenedor-faciales{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.facial{
    margin-bottom: 4rem;
}

.facial__color{
    border-radius: 50%;
    width: 2rem;
    border: 1px solid var(--gray);
}

.facial__texto{
    color: var(--black);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.facial__precio{
    color: var(--black);
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

/* Seccion de accesorios */
.titulo-gafas{
    font-weight: 300;
    margin: 2rem 0 0 0;
    text-transform: uppercase;
}

.contenedor-gafas{
    margin: 5rem 0 0 0;
}

@media (min-width:768px){
    .contenedor-gafas{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 4rem;
    }
}

.gafa{
    margin-bottom: 4rem;
}

.gafa__color{
    border-radius: 50%;
    width: 2rem;
    border: 1px solid var(--gray);
}

.gafa__texto{
    color: var(--black);
    font-weight: 700;
    font-size: 1.8rem;
    margin: 0;
}

.gafa__precio{
    color: var(--black);
    font-weight: 300;
    font-size: 2rem;
    margin: 0;
}

/* contenido del producto */
.superior{
    margin-top: 2rem;
}

@media (min-width:768px){
    .two-columns{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

.border-list{
    border-bottom: 1px solid var(--lightGrey);
}

.border-list ul{
    margin-bottom: 3rem;
}

.caracteristicas{
    margin: 0;
    font-size: 1.8rem;
}


.id{
    color: var(--gray);
    text-transform: uppercase;
    font-size: 1.8rem;
}

.codigo{
    font-weight: 700;
    color: var(--black);
}

.opciones-talla{
    margin: 3rem 0 0 0;
    display: flex;
    flex-direction: column;
}

.label-producto{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.label-superior{
    margin: 0 0 1rem 0;
}

.label-inferior{
    margin: 2rem 0 0 0;
}

.tallas{
    background-color: var(--white);
    border: 1px solid var(--lightGrey);
    padding: 1rem;
    font-size: 1.3rem;
}

.color-producto{
    border: 1px solid var(--gray);
}

.servicios-producto{
    margin: 4rem 0 0 0;
    text-transform: uppercase;
    font-size: 1.2rem;
}

.precio{
    margin: 4rem 0 0 0;
    font-weight: 700;
    font-size: 2rem;
}

.cantidad-articulos{
    margin: 1rem 0 0 0;
    display: flex;
    align-items: center;
}

.menos,
.mas{
    font-weight: 700;
    font-size: 2rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    border: 3px solid var(--red);
    text-align: center;
    color: var(--red);
}

.menos:hover{
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.mas:hover{
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

.numero{
    font-weight: 700;
    font-size: 2rem;
    background-color: var(--white);
    padding: 1rem 2rem;
    border: 1px solid var(--lightGrey);
    text-align: center;
}

.agregar{
    margin-top: 2rem;
}

.agregar__bolsa{
    width: 100%;
    border: 3px solid var(--red);
    background-color: var(--white);
    padding: 1rem;
    color: var(--red);
    text-transform: uppercase;
    font-weight: 700;
}

.agregar__bolsa:hover{
    background-color: var(--red);
    color: var(--white);
}

.border-titulo{
    margin: 1rem 0 0 0;
}

.titulo{
    margin: 0;
}

.colores{
    display: flex;
    gap: 2rem;
}

.titulo-detalles{
    margin: 0 0 1rem 0;
    text-transform: uppercase;
}

.lista-producto{
    margin: 0;
}

/* Formularios */
.seccion-formularios{
    margin-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
}

@media (min-width:768px){
    .formularios{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 4rem;
    }
}

.form-inferior{
    margin-bottom: 2rem;
}

.registrarse,
.cuenta{
    font-size: 1.4rem;
    margin: 2rem 0 1rem 0;
}

.form-inferior h3{
    margin: 0 0 1rem 0;
}

.campo{
    margin-bottom: 2rem;
}

.campo label{
    font-weight: 700;
    display: block;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.campo input{
    width: 100%;
    border: 1px solid var(--lightGrey);
    padding: 1rem;
    font-size: 1.4rem;
}

.terminos{
    display: flex;
    gap: 1rem;
}

.terminos p{
    font-size: 1.3rem;
    margin: 0;
}

.boton-registrarse{
    margin-top: 2rem;
    width: 100%;
    border: none;
    background-color: var(--lightRed);
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: var(--red);
}

.boton-iniciar{
    margin-top: 2rem;
    width: 100%;
    border: 3px solid var(--red);
    background-color: var(--white);
    padding: 1rem 2rem;
    text-transform: uppercase;
    color: var(--red);
    font-weight: 700;
}

.boton-iniciar:hover{
    background-color: var(--red);
    color: var(--white);
}

